<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="fragments/sb-admin :: headmk">
</head>

<body>
    <div id="wrapper">
        <div data-th-replace="fragments/sb-admin :: top-nav"></div>
        <div data-th-replace="fragments/sb-admin :: vert-nav-admin"></div>

        <div id="page-wrapper">
            <div class="col-md-6 col-md-offset-2" style="margin-top:20px">
                <div class="panel panel-primary">
                    <div class="panel-heading"><span th:text="${editar}"></span> Usuario</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" th:object="${user}" th:action="${url}" method="POST">
                            <input type="hidden" th:field="*{id}" />

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="tdni">DNI:</label>
                                <div class="col-md-6">
                                    <input id="txtdni" name="dni" type="text" placeholder="" th:field="*{dni}" class="form-control input-md" required="">
                                    <p th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></p>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="tusername">Usuario:</label>
                                <div class="col-md-6">
                                    <input id="txtusername" name="username" type="text" placeholder="" th:field="*{nombres}" class="form-control input-md" required="">
                                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="tnombres">Nombres:</label>
                                <div class="col-md-6">
                                    <input id="txtnombres" name="nombres" type="text" placeholder="" th:field="*{nombres}" class="form-control input-md" required="">
                                    <p th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}"></p>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="temail">EMail:</label>
                                <div class="col-md-6">
                                    <input id="txtemail" name="email" type="text" placeholder="" th:field="*{email}" class="form-control input-md" required="">
                                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="tapellidos">Apellidos:</label>
                                <div class="col-md-6">
                                    <input id="txtapellidos" name="apellidos" type="text" placeholder="" th:field="*{apellidos}" class="form-control input-md" required="">
                                    <p th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></p>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="baceptar"></label>
                                <div class="col-md-8">
                                    <button id="baceptar" name="" class="btn btn-primary" type="submit">Guardar</button>
                                    <a th:href="@{'/user/index'}" class="btn btn-danger">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>